<!DOCTYPE html>
<html lang="en"><html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Warehouse</title>
    <link th:href="@{/css/orders.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div class="bg">
    <header th:replace="parts/header :: header">
    </header>
    <section class="main-content">
        <div class="panel panel-default orders">
            <div class="panel-heading">
                <p th:text="${'Expected revenue: ' + expectedRevenue + ' BTC'}"></p>
            </div>
        </div>
        <div class="panel panel-default orders">
            <div class="panel-heading">Shipped orders</div>
            <table class="table">
                <thead class="orders-head">
                <tr>
                    <td>Product Title</td>
                    <td>Customer</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${shippedOrders}">
                    <td class="orders-td" th:text="${order.getProduct().getTitle()}"></td>
                    <td class="orders-td" th:text="${order.getUser().getUsername()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default orders">
            <div class="panel-heading">Pending orders</div>
            <table class="table">
                <thead class="orders-head">
                <tr>
                    <td>Product Title</td>
                    <td>Customer</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${pendingOrders}">
                    <td class="orders-td" th:text="${order.getProduct().getTitle()}"></td>
                    <td class="orders-td" th:text="${order.getUser().getUsername()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
</body>
</html>