<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header class="header" th:fragment="header">
    <div class="navigation">
        <div class="btn-menu"><a role="button" class="btn-text" href="/">Home</a></div>
        <div class="btn-menu"><a role="button" class="btn-text" href="/catalog">Catalog</a></div>
        <div class="btn-menu" sec:authorize="hasRole('USER')"><a role="button" class="btn-text" href="/orders">My orders</a></div>
        <div class="btn-menu" sec:authorize="hasRole('WORKER')"><a role="button" class="btn-text">Warehouse</a></div>
        <div class="btn-menu" sec:authorize="hasRole('MANAGER')"><a role="button" class="btn-text">Sales</a></div>
        <div class="btn-menu"><a role="button" class="btn-text" href="/logout">Log out</a></div>
    </div>
</header>
</body>
</html>